.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/misc.xml
/app/app.iml
/.idea/libraries
.DS_Store
/build
*.xml

!/codeStyleSettings.xml
!/copyright/*.xml
!/fileColors.xml
!/encodings.xml
!/gradle.xml
!/runConfigurations/*.xml

!/inspectionProfiles/*.xml
/inspectionProfiles/profiles_settings.xml

!/scopes/*.xml
/scopes/scope_settings.xml

!/templateLanguages.xml
!/vcs.xml